<%- include('partials/header') -%>

    <article id="list" class="panel secondary">
        <div class="image">
            <img src="images/pic02.png" alt="pic of vitamin supplements" data-position="center center" />
        </div>
        <div class="content">
            <ul class="actions animated spinX">
                <li><a href="/profile" class="button small back">Menu</a></li>
            </ul>
            <div class="inner">
                <header>
                    <h2>Your medicines and supplements</h2>
                </header>
                <div class="table-wrapper">
                    <table class="alt">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Notes</th>
                                <th>Dosage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <ul>
                                    <% for(var i=0; i<meds.length; i++) {%>
                                        <li>
                                            <td>
                                                <%= meds[i].med%>
                                            </td>
                                            <td>
                                                <%= notes[i].med%>
                                            </td>
                                            <td>
                                                <%= dosage[i].med%>
                                            </td>
                                            <form align="center" action="/med/takeMed/<%=med.id%>?_method=PUT" method="POST">
                                                <ul>
                                                    <li><a href="" class="button">Take</a></li>
                                                </ul>
                                            </form>
                                            <form align="center" action="/med/deleteMed/<%=med.id%>?_method=DELETE" method="POST">
                                                <ul>
                                                    <li><a href="" class="button primary">Delete</a></li>
                                                </ul>
                                            </form>
                                            <% } %>
                                        </li>
                                </ul>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </article>
    
<%- include('partials/footer') -%>