<%- include('partials/header') -%>

    <article id="list" class="panel secondary">
        <div class="image">
            <img src="images/pic02.png" alt="pic of vitamin supplements" data-position="center center" />
        </div>
        <div class="content">
            <ul class="actions animated spinX">
                <li><a href="/profile" class="button small back">Menu</a></li>
            </ul>
            <div class="inner">
                <header>
                    <h2>Your medicines and supplements</h2>
                </header>
                <div class="table-wrapper">
                    <table class="alt">
                        <thead>
                            <tr>
                                <th>Substance</th>
                                <th>Notes</th>
                                <th>Dosage</th>
                            </tr>
                        </thead>
                        <tbody>
                                <% for(var i=0; i<meds.length; i++) {%>
                                    <tr>
                                        <td> <%= meds[i].substance%></td>
                                        <td> <%= meds[i].notes%></td>
                                        <td> <%= meds[i].dosage%></td>
                                        <td>
                                            <form align="center" action="/meds/takeMed/<%= meds[i]._id%>?_method=PUT" method="POST">
                                                <ul class="field actions"><li><input type="submit" value="Take" class="button"/></li>
                                                </ul>
                                            </form>
                                            <form align="center" action="/meds/deleteMed/<%= meds[i]._id%>?_method=DELETE" method="POST">
                                                <ul class="field actions"><li><input type="submit" value="Delete" class="button primary"/></li>
                                                </ul>
                                            </form>
                                        </td>
                                        <% } %>
                                    </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </article>
    
<%- include('partials/footer') -%>